@font-face {
  font-family: 'emulogicregular';
  src: url('emulogic-zrew-webfont.woff2') format('woff2'),
    url('emulogic-zrew-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.swal2-title,
.swal2-button,
.swal2-text,
.swal2-modal,
.swal2-popup {
  font-family: 'emulogicregular';
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align:center; 
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  color:yellow;
  font-family: 'emulogicregular';
  background-color: black;
}

input {
  font-size: 18px;
}

.button_title {
  font-weight: bold;
  width: 175px;
  font-family: 'emulogicregular';
  padding: 15px 10px 15px 0px;
  margin: 10px;
  background-color: rgb(189, 224, 255);
}
